
.body { background: url(./images/background.jpg); }


.Ads__header {
    padding: 24px;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid #000000;
    background-color: #817D9B;
    border-radius: 30px;
}

.Header__title {
    display: inline-table;
    font-size: 32px;
    font-weight: 700;
}

.Header__button {
    float: right;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 20px;
    border-radius: 7px;
    background: -moz-linear-gradient(#312965, #666374);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#312965), to(#666374));
    border: 6px;
}

.Ads__content {
    padding: 24px;
}

.Content__box {
    display: inline-block;
    margin: 10px;
    margin-left: 20px;
    border: dashed;
    padding: 15px;
    color: #8A2BE2;
}

.Box__info {
    color: #E6E6FA;
    font-size: 210%;
    font-weight: 700;
 ;
}

.Box__name {
    color: #D8BFD8;
    font-size: 105%;
    font-weight: 600;
}

.Box__phone {
    color: #DDA0DD;
    font-size: 105%;
    font-weight: 600;
    
}

